# Environment Variables
.env
backend/.env

# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/
venv/
env/

# Database
*.db
*.sqlite3
data/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
